/*=========================================================================================================
//---------------------------------------------------------------------------------------------------------
//	"UBER" STANDARD CSS - NOT COMPATIBLE WITH SELECTEDIT SITES
//---------------------------------------------------------------------------------------------------------
//	CONTENT STYLES:  see tempaltes directory for navigation styles
//---------------------------------------------------------------------------------------------------------
//=======================================================================================================*/
/*---------------------------------------------------------------------------------------------------------
//	Body structure elements
//-------------------------------------------------------------------------------------------------------*/
body
{
	margin:					0px;
	padding:				0px;
	background-color:		#e8e8e8;
	/*	Default text styles	----------------------------*/
	font-family:			arial, "sans serif";
	color:					#6d6e71;
	font-size:				16px;
	padding-top:			22px;
}

html
{
	margin:					0px;
	padding:				0px;
}

/*
img, div, td
{ 
	behavior: url(../site/iepngfix/iepngfix.htc) 
}
*/

* {
   padding:0;
   margin:0;
}

ul
{
	margin:		20px;
	margin-top:	0px;
}

ol
{
	padding:		30px;
}

ol li
{
	margin-bottom:	20px;
}

ol li p
{
	margin:0;
	padding:0;
}

ol br
{
	display:		none;
}


.rounded-top
{	
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow:hidden;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}

/*---------------------------------------------------------------------------------------------------------
//	Default link colors
//-------------------------------------------------------------------------------------------------------*/
a
{
	color:					#007dc4;
}

a:hover
{
	color:					rgb(119,119,119);
}

/*---------------------------------------------------------------------------------------------------------
//	Site structure
//-------------------------------------------------------------------------------------------------------*/
/*	horizontal centering	*/
#center-x
{
	/*	Do not modify		----------------------------*/
	margin-right:			auto;
	margin-left:			auto;
	/*	Customize			----------------------------*/
	background-color:		white;
	width:					877px;
}


/*	Popup container	*/
#popup-box
{
	/*	Customize			----------------------------*/
	background-color:		white;
	border:					1px solid black;
	margin:					0px 20px 0px 20px;
	padding:				15px;
}

#header
{
	width:					877px;
	height:					155px;
	background-image:		url(../images/header-oiservice.jpg);
	background-repeat:		no-repeat;
	border-bottom:			1px solid white;
	background-position: left bottom;
}

#language-picker
{
	margin:					0px 20px;
	text-align:				right;
}

#logo
{
	margin-top:				36px;
	margin-left:			25px;
}

table#body
{
	border-collapse:		collapse;
	width:					1025px;
	background-image:		url(../images/bg-content.png);
	background-repeat:		repeat-x;
	clear:					both;
}

col#col-left
{
	width:					160px;
}

col#col-content
{
	width:					auto;
}

/*	See sectionnav CSS tempaltes for td#left	*/

/*	Optional sitebar	*/
td#right
{

	width:					218px;
	background-color:		#d8e1ec;
	background-image:		none;
}

td#content
{
	width:					auto;
	padding-top:			2px;
	padding-right:			20px;
	background-image:		none;
}

/*---------------------------------------------------------------------------------------------------------
//	Footer styles
//-------------------------------------------------------------------------------------------------------*/
#footer
{
	clear:					both;
	margin:					0px 0px 0px;
	padding:				0em;
	background-image:		url(../images/footer-dots.gif);
	height:					86px;
	overflow:				hidden;
	background-repeat: no-repeat;
	background-position: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(255,255,255);
}
.line {
	background-image:		url(../images/line.gif);
	overflow:				hidden;
	background-repeat: no-repeat;
	background-position: center;
	height: 5px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}


#footer p
{
	clear:					both;
}

#footer ul
{
	float:					right;
	margin:					0px;
	padding:				0px;
	list-style-type:		none;
	margin-top:				50px;
	margin-right:			15px;
	font-size:				12px;
}

#footer li
{
	float:					left;
}

#footer ul a
{
	color:					white;
}

#footer .divider
{
	margin:					0px 4px;
}
	
/*=========================================================================================================
//---------------------------------------------------------------------------------------------------------
//	Standard body styles
//---------------------------------------------------------------------------------------------------------
//=======================================================================================================*/
h1
{
	padding:				0px;
	font-weight:			bold;
	color:					#58585A;
	line-height:			24px;
	z-index:				1;
	font-size:				20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
h6 {
	padding:				0px;
	font-weight:			bold;
	color:					#58585A;
	line-height:			24px;
	z-index:				1;
	font-size:				28px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}



h1 a,h1 a:hover
{
}

#popup-box h1
{
	margin-top:				10px;
	text-align:				center
}

h2
{
	margin:					0px 0px 10px 0px;
	padding:				0px;
	font-weight:			normal;
	color:					#F79448;
	font-size:				18px;
	line-height:			19px;
}

h2 a,
h2 a:hover
{
	color:					#F79448;
}

h3,
h3 a,
h3 a:hover
{
	margin:					0px;
	color:					#d93f30;
	font-weight:			normal;
	margin-bottom:			2px;
	font-size:				12px;
}

/*	Standard body style	*/
.bodytext
{
	padding:				0px;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 1.7em;
	margin-left: 0px;
}
.bodytextbig {
	margin:					0em 0em 1.7em 0px;
	padding:				0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}


blockquote
{
	margin:					1em 3em;
	padding:				0em;
	font-style:				italic;
}
#login {
	display: block;
	font-size: 24px;
	padding-left: 15%;
}
#login #loginTableOuter {

}

#loginTableInner tr {
	display: table-row;
	font-size: 36px;
}

#login input {
	display: block;
	font-size: 36px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
#login #submit {
	width: 100%;
	height: 60px;
	margin-top: 10px;
}

#login h2 {
	font-size: 50px;
}



.item-block
{
	border:					1px solid #cfcfcc;
	padding:				18px 22px;
	margin-bottom:			18px;
	overflow:				hidden;
}

.blacktext
{
	font-weight:			bold;
	color:					black;
}


/*=========================================================================================================
//---------------------------------------------------------------------------------------------------------
//	MISCELLANEOUS DEFAULTS
//---------------------------------------------------------------------------------------------------------
//=======================================================================================================*/
/*	Used so that non-CSS browsers deliniate footer block from body content	*/
hr
{
	display:				none;
}

/*	Hidden elements	*/
.hdn
{
	display:				none;
}

/*	because HTML should have this as the default	*/
td
{
	vertical-align:			top;
	padding:				0px;
}

/*	prevent ugly purple borders around linked images	*/
img
{
	border:					0px;
}

/*	do not underline links	*/
a
{
	text-decoration:		none;
}


/*	shortcomings of the formatter	*/
p
{
	margin:					0px;
}

/*	IE will allocate space for these if there are not display:none -  POSJ	*/
map
{
	display:				none;
}

sup
{
	vertical-align:			super;
	font-size:				0.75em;
}
.overview_div {
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	border: medium inset #F79448;
	display: block;
	height: 275px;
	margin-bottom: 15px;
	padding: 5px;
}
#aform {
	height: auto;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
#asave {
	width: 150px;
	height: 30px;
	margin-left: 35%;
}
.afield {
	margin-bottom: 10px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: inset;
	border-bottom-style: inset;
	padding: 2px;
}
.atxt {
	width: 60%;
	float: left;
	height: 22px;
	font-size: 20px;
	padding-top: 6px;
	color: #58585A;
}
.ainp {
}
#remote ul {
	margin-bottom: -1px;
}
#remote ul li {
	list-style-type: decimal;
	margin-top: 5px;
	margin-bottom: 5px;
}
#remotetop ul {

}
#remotetop ul li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.red {
	color: #F00;
}
#ReportOuterFrame {
}

#ReportFrame {
	margin-bottom: 25px;
	margin-top: 25px;
	width: 100%;
}
#ReportFrameTitle {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #6d6e71;
}

#newReport {
	text-align: center;
	font-size: 24px;
	margin-bottom: 25px;
	margin-top: 25px;
	height: 30px;
	padding-top: 12px;
	margin-right: auto;
	margin-left: auto;
	background-color: #e7e8e9;
	width: 500px;
}
#newReport a {
	color: #f79548;
}
#siteInfoLeft {
	display: block;
	float: left;
	width: 50%;
}
#siteInfoRight {
	display: block;
	width: 50%;
	float: right;
}
#map {
	clear: both;
	width: 100%;
}
#showalldiv #showalldivtxt {
	font-size: 14px;
	margin-left: 5px;
}
#showalldiv {
	margin-bottom: 20px;
}
