.noDivBounds * {

	border: 0;

	margin: 0;

	padding: 0;

	vertical-align: middle;

}

.sfhtTable {

	border: 1px solid #CCCCCC;

}

.sfhtTable table tr, .sfhtTable tr td {

	padding: 0;

	margin: 0;

}

.sfhtHeader {

	position: absolute;

	overflow: hidden;

}

.sfhtData {

	overflow: auto;

}

.sfhtColumnSelectButton_unPressed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #BDD2FB;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	border: 1px solid blue;
	height: 20px;
	cursor: pointer;
	vertical-align: middle;

}

.sfhtColumnSelectButton_Pressed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #BDD2FB;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	border: 1px solid blue;
	height: 20px;
	cursor: pointer;
	vertical-align: middle;

}

.sfhtColumnSelect {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: normal;

	color: #000000;

	position: absolute;

	z-index: 100;

}



.sfhtColumnSelect ul {

	list-style: none;

	padding: 2px;

	background-color: #CCCCCC;

	border: 1px solid #121E80;

}

.sfhtColumnSelect ul li {

	list-style: none;

	padding: 2px;

}
