body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #58585a;
}
h2 {
	color: #6F6F71;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
}
li {
	margin-bottom: 10px;
}

#title
{
	text-align: center;
	font-size: 50px;
	padding-top: 2%;
	padding-bottom: 3%;
	color: #58585a;
}#title2 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
	color: #58585a;
}
#topimgandmenu {
	height: 300px;
}

#topimg {
	height: 270px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
#date {
	text-align: right;
	margin-top: 20px;
	padding-right: 20px;
	font-size: 11px;
}

#navcontainer {
	width: 250px;
	float: left;
	margin-top: 14px;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
font-family: verdana, arial, Helvetica, sans-serif;
}

#navcontainer li { margin: 0 0 1px 0; }

#navcontainer a
{
	display: block;
	padding: 5px 10px;
	width: 140px;
	color: #fff;
	background-color: #0d4ea2;
	text-decoration: none;
}

#navcontainer a:hover
{
	color: #fff;
	background-color: #1a2172;
	text-decoration: none;
}

#navcontainer ul ul li { margin: 0 0 1px 0; }

#navcontainer ul ul a
{
	display: block;
	padding: 5px 5px 5px 30px;
	width: 125px;
	color: #fff;
	background-color: #457bb9;
	text-decoration: none;
}

#navcontainer ul ul a:hover
{
	color: #fff;
	background-color: #1a2172;
	text-decoration: none;
}
.item {
	margin-top: 20px;
}

.subitem {
	margin-left: 20px;
	margin-top: 20px;
}
.indent {
	margin-left: 20px;
}
.err
{
	color: red;
}