﻿.smartspinner
{
	padding: 0;
	padding: 2px 10px 2px 2px;
	border:solid 1px #afafaf;
	background: url(normal.jpg) no-repeat right;
	background-color:#f6f6f6;
	text-align:center;
	/*vertical-align:middle;*/
	line-height:2;
	border-radius:3px;
	-moz-border-radius:3px;
	color:#848484;
	font-size:1.0em;
	font-weight:bold;
}
.smartcb {
	border:solid 1px #afafaf;
	background-color:#f6f6f6;
	/*vertical-align:middle;*/
	line-height:2;
	border-radius:3px;
	-moz-border-radius:3px;
	color:#848484;
	font-size:1.0em;
	font-weight:bold;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: center;
	width: 175px;
	height: 22px;
}

.smartspinner.up
{
	background: url(up.jpg) no-repeat right;
	background-color:#f6f6f6;
	cursor:pointer;
}
.smartspinner.down
{
	background: url(down.jpg) no-repeat right;
	background-color:#f6f6f6;
	cursor:pointer;
}
