﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7
{
 color: #000000;
}
span.rvts8 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts9, span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts10
{
 font-size: 12pt;
 color: #000000;
}
span.rvts11
{
 font-size: 18pt;
 font-weight: bold;
 color: #007bbf;
}
a.rvts12, span.rvts12
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts12:hover { color: #0000ff; }
span.rvts13
{
 font-size: 12pt;
}
a.rvts14, span.rvts14
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts14:hover { color: #0000ff; }
span.rvts15
{
}
span.rvts16
{
 font-size: 12pt;
}
span.rvts17
{
 font-size: 12pt;
 font-weight: bold;
 color: #000000;
}
a.rvts18, span.rvts18
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts18:hover { color: #0000ff; }
span.rvts19
{
 font-size: 12pt;
 color: ;
}
span.rvts20
{
 font-size: 11pt;
 font-family: 'calibri';
}
span.rvts21
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts22
{
 font-size: 16pt;
 font-family: 'calibri';
 font-weight: bold;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
}
span.rvts24
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
}
span.rvts25
{
 font-size: 18pt;
 font-family: 'calibri';
 font-weight: bold;
}
span.rvts26
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps4
{
}
.rvps5
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps6
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps7
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps8
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps9
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
